body {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#container {
    padding: 20px;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    background-color: rgb(178, 178, 178);
}

#display {
    height: 80px;
    padding: 0px 10px;
    text-align: right;
    font-size: 30px;
    background-color: white;
}

#calculator-body {
    padding-top: 20px;
}

#clean-screen {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

#clean-screen button {
    min-height: 60px;
    flex: auto;
    font-size: 20px;
}

#clear {
    background-color: pink;
}

#delete {
    background-color: rgb(134, 120, 255);
}

#main-body {
    display: flex;
    height: 320px;
    flex-wrap: wrap;
    gap: 5px;
}

#main-body button{
    flex: 1 1 75px;
    font-size: 20px;
}

#container, #display, #clear, button {
    border: 2px solid black;
    border-radius: 10px;
}